.profile__avatar {
    font-size: 32px;
}
.profile__header{
    display: flex;
    gap: 8px;
    flex-direction: row;
}
.profile__info {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 12px;
    row-gap: 4px;
    align-self: center;
}

.profile__details {
    margin-top: 12px;
    display: grid;
    grid-template-columns: minmax(80px, 1fr) 1fr;
    column-gap: 12px;
    row-gap: 4px;
}
.profile__label {
    font-weight: 600;
    color: var(--pico-h3-color);

}
.profile__label::after {
    content: ':';
}
.profile__actions{
    display: flex;
    justify-content: flex-end;
}


.profile__warning{
    border: 1px solid var(--pico-del-color);
    border-radius: 8px;
    padding: 8px var(--pico-spacing);
    color: var(--pico-del-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile__warning button {
    background-color: var(--pico-del-color);
    border: none;
    outline: none;
    
}