.verification-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 148px);
    max-width: 90%;
    margin-inline: auto;
    gap: 10px;
    }

    .verification-text{
        text-align: center;
        font-size: 15px ;
        color: var(--pico-accordion-open-summary-color);
    }

    .verification-title{
        font-size: 20px;
    }

    .verification-icon {
        color: green; 
        width: 50px;   
        height: 50px;
    }

    .verification-link {
        display: inline;
        cursor: pointer;
        text-decoration: underline;
    }