.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
}
.navbar__avatar {
    font-size: 20px;
}
.navbar__placeholder {
    width: 24px;
    height: 24px;
}

.navbar__menu.dropdown {
    margin-bottom: 0;
    
}
.navbar__menu.dropdown summary {
    line-height: normal;
}

.navbar__menu ul li a {
    cursor: pointer;
}

.navbar__menu.dropdown summary::after {
    content: none;
}