.request-item__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
}

.request-item__actions button {
    padding: 4px 8px;
}

.request-item__owner {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.request-item__owner-avatar {
    border-radius: 100px;
}

.request-item__description {
    font-size: 16px;
    font-style: italic;
}

.request-item__details {
    padding: 0px;
    font-size: 14px;
}

.request-item__details li {
    list-style: none;
}