.review-item__actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
}

.review-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-item__actions button {
    padding: 4px 8px;
}

.review-item__date {
    margin-right: auto;
    font-size: 12px;
    color: var(--pico-muted-color);
}

.review-item__user{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
}
.review-item__date {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: var(--pico-muted-color);
    padding: 8px 8px;
  }